:root {
  --focus-color: #2196f3;
  --main-color: #212121;
  --fone-color: #757575;
  --main-bg-color: #ffffff;
  --border-color: #eeeeee;
  --bg-second-color: #f5f4fa;
  --for-icons-color: #afb1b8;
  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--main-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img,
.portfolio__link {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-nav__list {
  display: flex;
  margin-left: 95px;
}

.main-nav__item:not(:last-child) {
  margin-right: 50px;
}

.main-nav__link {
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: color 250ms var(--main-cubic-bezier);
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--focus-color);
}

.current__link {
  position: relative;
  color: var(--focus-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 20px;

  transition: color 250ms var(--main-cubic-bezier);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  color: var(--focus-color);
}

.footer__social-list {
  display: flex;
  gap: 10px;
}

.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.hero-section {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background: #2f303a;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-Img.jpg);
}

.hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.hero-section__button,
.submit__button,
.footer__submit-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--main-bg-color);
  background: var(--focus-color);

  border-radius: 4px;
  border: var(--focus-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  height: 50px;
}

.hero-section__button {
  min-width: 216px;
  margin-top: 30px;
  padding: 10px 32px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.peculiarities__description,
.team__description,
.portfolio__description,
.contacts-list__link {
  color: var(--fone-color);
}

.peculiarities__item {
  min-width: 270px;
}

.peculiarities__list {
  display: flex;
}

.peculiarities__item:not(:last-child),
.clients__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities__description {
  font-size: 14px;
  line-height: 1.7;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bg-second-color);
}

.work {
  padding-top: 0;
}

.portfolio__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__title,
.team__main-title,
.clients__title {
  margin-bottom: 50px;
}

.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item,
.nav-item {
  position: relative;
}

.team__main-title,
.work__title,
.clients__title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team__description,
.team__title {
  font-size: 16px;
  text-align: center;
}

.team__description {
  margin-bottom: 16px;
}

.team__title {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__list,
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  width: 100%;
  height: 100%;
  border: solid 1px var(--for-icons-color);
  border-radius: 4px;
  color: var(--for-icons-color);

  transition: color 250ms var(--main-cubic-bezier),
    border-color 250ms var(--main-cubic-bezier);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--focus-color);
  border-color: currentColor;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}


.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
	  background-color: var(--main-bg-color);
}

.team {
  line-height: 1.2;
  background-color: var(--bg-second-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo__web {
  color: var(--focus-color);
}

.page-header__logo {
  color: #000000;
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.team__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.footer__social-link,
.team__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--for-icons-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.footer__social-link:hover,
.footer__social-link:focus,
.team__link:hover,
.team__link:focus {
  color: var(--main-bg-color);
  background-color: var(--focus-color);
}

.team__icon,
.footer__social-icon {
  fill: currentColor;
}

.filter__button {
  font-weight: 500;
  background: var(--bg-second-color);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--focus-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.portfolio__description {
  line-height: 1.875;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--focus-color);
}

.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--main-cubic-bezier);
}

.logo,
.main-nav__link,
.contacts-list__link,
.footer__link,
.portfolio__link {
  text-decoration: none;
}

.footer__address,
.footer__logo-studio {
  color: var(--main-bg-color);
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}

.footer__social {
  width: 206px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer__label {
  display: inline-flex;
  padding-top: 15px;
  gap: 93px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--main-cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--main-cubic-bezier);
  transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden .modal-form {
  transform: translate(-50%, -50%) scale(0.7);
}

.close__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-bg-color);
  cursor: pointer;
  transition: fill 250ms var(--main-cubic-bezier);
}

.close__button:hover,
.close__button:focus {
  fill: var(--focus-color);
}

.thumb-portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio__backdrop {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--main-cubic-bezier);
}

.portfolio__link:hover .portfolio__backdrop {
  transform: translateY(-100%);
}

.portfolio__backdrop-discription {
  font-size: 18px;
  padding: 63px 24px;
  line-height: 1.6;
  color: var(--main-bg-color);
}

.submit-button-thumb {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit__button {
  min-width: 200px;
  padding: 10px 52px;
  transition: background-color 250ms var(--main-cubic-bezier);
}

.submit__button:hover {
  background-color: #188ce8;
}

.work__description,
.footer__input-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.footer__input-label {
  text-align: left;
  margin-bottom: 20px;
}

.footer__input-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-right: 10px;
}

.work__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
}

.current__link::after {
  position: absolute;
  left: 0;
  bottom: -13px;
  display: inline-block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--focus-color);
}

.modal-form {
  position: relative;
  width: 100%;
  height: 100%;

  padding: 32px 40px 48px;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-field:nth-child(-n + 4) {
  margin-bottom: 10px;
}

.form-field:nth-child(-n + 2) {
  margin-top: 12px;
}

.check-field {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-label {
  padding-left: 12px;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

.modal-form__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

textarea {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 16px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
}

input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form__link {
  color: var(--focus-color);
}

.footer__input-div {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 86px;
  width: 570px;
}

.footer__input {
  height: 50px;
  margin-top: 0;
  padding: 15px;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);

  transition: border 250ms var(--main-cubic-bezier);
}

.input,
textarea {
  transition: border 250 ms var(--main-cubic-bezier);
}

.input:focus,
textarea:focus {
  border-color: var(--focus-color);
  outline: var(--focus-color);

  cursor: pointer;
}

.footer__icon-send {
  margin-left: 10px;
  fill: var(--main-bg-color);
}

.footer__icon-person {
  position: absolute;
  left: 15px;
  top: 30px;
  transition: fill 250ms var(--main-cubic-bezier);
}

.input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.input:focus + .footer__icon-person {
  fill: var(--focus-color);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.footer__input-div::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.modal-form__check-span {
  position: absolute;
  left: 18px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;

  color: var(--main-color);

  border: 2px solid var(--main-color);
  border-radius: 2px;
}

.modal-form__check-icon {
  fill: var(--main-bg-color);
}

.checkbox:checked + .modal-form__check-span {
  background-color: var(--focus-color);
  border-color: var(--focus-color);
}
