:root {
  --focus-color: #2196f3;
  --main-color: #212121;
  --fone-color: #757575;
  --main-bg-color: #ffffff;
  --border-color: #eeeeee;
  --bg-second-color: #f5f4fa;
  --for-icons-color: #afb1b8;
  --main-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--main-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img,
.portfolio-list-link {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-nav-list {
  display: flex;
  margin-left: 95px;
}

.main-nav-list .nav-item + .nav-item,
.contacts-list .nav-item + .nav-item {
  margin-left: 50px;
}

.main-nav .main-nav-link {
  display: block;
  padding-bottom: 20px;
  padding-top: 20px;
}

.main-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: color 250ms var(--main-cubic-bezier);
}

.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--focus-color);
}

.main-nav .main-nav-link.current {
  color: var(--focus-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.hero-button,
.submit-button,
.footer-submit-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--main-bg-color);
  background: var(--focus-color);

  border-radius: 4px;
  border: var(--focus-color);
  cursor: pointer;
	box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button {
  min-width: 216px;
  margin-top: 30px;
  padding: 10px 32px;
}

.submit-button-thumb {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-button {
  min-width: 200px;
  padding: 10px 52px;
}

.footer-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  height: 50px;
}

.hero-section.section {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background: #2f303a;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-Img.jpg);
}

.div-header {
  display: flex;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.peculiarities-discription,
.team-list-discription,
.portfolio-discription,
.nav-item > .contacts {
  color: var(--fone-color);
}

.peculiarities-item {
  min-width: 270px;
}

.peculiarities-list {
  display: flex;
}

.peculiarities-list .peculiarities-item:not(:last-child),
.clients-list .clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities-discription {
  font-size: 14px;
  line-height: 1.7;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bg-second-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-work.section {
  padding-top: 0;
}

.logo,
.main-nav-link,
.contacts,
.footer-link,
.portfolio-list-link {
  text-decoration: none;
}

.portfolio-list-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover,
.portfolio-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-work-title,
.team-title,
.clients-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-title,
.our-work-title,
.clients-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-list-discription,
.team-list-title {
  font-size: 16px;
  text-align: center;
}

.team-list-discription {
  margin-bottom: 16px;
}

.team-list-title {
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list,
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  width: 100%;
  height: 100%;
  border: solid 1px var(--for-icons-color);
  border-radius: 4px;
  color: var(--for-icons-color);

  transition: color 250ms var(--main-cubic-bezier),
    border-color 250ms var(--main-cubic-bezier);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--focus-color);
  border-color: currentColor;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  background-color: var(--main-bg-color);
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  line-height: 1.2;
  background-color: var(--bg-second-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo-web {
  color: var(--focus-color);
}

.logo-studio-head {
  color: #000000;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 20px;
  padding-bottom: 20px;

  transition: color 250ms var(--main-cubic-bezier);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail,
.icon-tel,
.social-footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--for-icons-color);

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--main-bg-color);
  background-color: var(--focus-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--focus-color);
}

.button {
  font-weight: 500;
  background: var(--bg-second-color);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.filter-list button:hover,
.filter-list button:focus {
  background-color: var(--focus-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 4px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.portfolio-discription {
  line-height: 1.875;
  padding-left: 24px;
  padding-bottom: 20px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.footer-logo {
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--focus-color);
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--main-cubic-bezier);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address,
.logo-studio-footer {
  color: var(--main-bg-color);
}

.footer-social-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}

.footer-social {
  width: 206px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 93px;
  margin-top: 15px;
}

.footer-container {
  display: flex;
}

.social-footer-list {
  gap: 10px;
}

.social-link.footer-icons-link {
  color: var(--main-bg-color);
}

.social-item.footer-icons {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--main-cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--main-cubic-bezier);
  transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-bg-color);
  cursor: pointer;
  transition: fill 250ms var(--main-cubic-bezier);
}

.close-button:hover,
.close-button:focus {
  fill: var(--focus-color);
}

.thumb-portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backdrop-portfolio {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms var(--main-cubic-bezier);
}

.portfolio-list-link:hover .backdrop-portfolio {
  transform: translateY(-100%);
}

.backdrop-discription {
  font-size: 18px;
  padding: 63px 24px;
  line-height: 1.6;
  color: var(--main-bg-color);
}

.work-discription,
.footer-input-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.footer-input-field > .footer-input-label {
  text-align: left;
  margin-bottom: 20px;
}

.work-list-item,
.nav-item {
  position: relative;
}

.thumb-work-discription {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);
}

.main-nav-link.current::after {
  position: absolute;
  left: 0;
  bottom: -13px;
  display: inline-block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--focus-color);
}

.modal-form {
  position: relative;
  width: 100%;
  height: 100%;

  padding: 32px 40px 48px;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: #757575;
}

.check-field {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.check-label {
	padding-left: 12px;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}

.form-field:nth-child(-n + 4) {
  margin-bottom: 10px;
}

.form-field:nth-child(-n + 2) {
  margin-top: 12px;
}

.form-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

textarea {
  width: 448px;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  font-size: 16px;

  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
}

input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
	
}

.checkbox {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.agreement-link {
  color: var(--focus-color);
}

.footer-input-field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-right: 10px;
}

.footer-input-div {
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 86px;
  width: 570px;

  margin-top: 15px;
}

.footer-input {
  height: 50px;
  margin-top: 0;
  padding: 15px;

  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);

  transition: border 250ms var(--main-cubic-bezier);
}

.input,
textarea {
  transition: border 250 ms var(--main-cubic-bezier);
}

.input:hover,
.input:focus,
textarea:hover,
textarea:focus {
  border-color: var(--focus-color);
  outline: var(--focus-color);

  cursor: pointer;
}

.icon-send {
  margin-left: 10px;
  fill: var(--main-bg-color);
}

.icon-person {
  position: absolute;
  left: 15px;
  top: 30px;
  transition: fill 250ms var(--main-cubic-bezier);
}


.input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.input:focus + .icon-person,
.input:hover + .icon-person {
  fill: var(--focus-color);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.footer-input-div::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.icon-check-span {
  position: absolute;
  left: 18px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;

  color: var(--main-color);

  border: 2px solid var(--main-color);
  border-radius: 2px;
}

.check-icon {
  fill: var(--main-bg-color);
}

.checkbox:checked + .icon-check-span {
  background-color: var(--focus-color);
  border-color: var(--focus-color);
}
