.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--bg-second-color);
}

.peculiarities__item {
  min-width: 270px;
}

.peculiarities__list {
  display: flex;
}

.peculiarities__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities__description {
  font-size: 14px;
  line-height: 1.7;
}

.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}